html,
body {
  width: 100%;
  height: 100%;
  background: white;
}

.showlibox #btnLogin {
	top: 19px;
	height: 32px;
	line-height: 30px;
	width: 122px;
	border-color: #fff;
	font-size: 14px;
	border-radius: 50px;
	border: 2px solid white;
	background: transparent;
	color: white;
}
.f12 {
  font-size: 12px;
}
.index_maxContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*width: 1516px;*/
  background: white;
}
.index_header {
  background: #484848;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  min-width: 1050px;
}
.index_nav {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 94.44%;
  margin: 0px auto;
}
.index_nav .logo {
  position: relative;
  float: left;
  line-height: 50px;
}
.index_nav .logo img {
  margin-right: 12px;
}
.index_nav .title {
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}
.index_nav .nav-list {
  float: right;
  width: 650px;
  height: 50px;
  line-height: 50px;
}
.header .nav .nav-list > li.user-action .hover-list li:first-child a {
  padding-top: 16px;
}
.hover-list {
  top: 52px;
  width: 199px;
  border-radius: 6px;
  right: -32px;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  behavior: url(PIE.htc);
  line-height: 20px;
  box-sizing: border-box;
  position: absolute;
  display: none;
}
.hover-list li {
  border-radius: 6px;
  white-space: nowrap;
  text-align: left;
  list-style: none;
  margin: 0;
}
.hover-list li a {
  display: inline-block;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
}
.hover-list li a:hover {
  background: #F4F4F4;
}
.hover-list li a.c_gray_dark {
  color: black;
}
.hover-list li a.f16 {
  font-size: 16px;
}
.hover-list li a.fw600 {
  font-weight: 600;
}
.hover-list li .login-out {
  box-sizing: border-box;
  width: 160px;
  height: 36px;
  line-height: 36px;
  color: #17BD88;
  border: 1px solid #17BD88;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  margin: 5px auto 16px;
  cursor: pointer;
}
.index_nav .nav-list li {
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
.index_nav .nav-list li a,
.index_nav .nav-list li i,
.index_nav .nav-list li span {
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.index_nav .nav-list li img {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  margin-right: 15px;
  border-radius: 50px;
}
.index_center {
  position: relative;
  height: 2900px;
  top: 55px;
}
.index_center .list_search_top {
  width: 100%;
  margin: 0px auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 98px;
  background: #f4f4f4;
}
.index_center .search_main {
  position: relative;
  left: 37px;
  top: 0;
  background: #fff;
  width: 95%;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  height: 65px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}
.index_center .search_main div {
  float: left;
  width: auto;
  margin-right: 20px;
}
.index_center .search_main span {
  color: #767676;
  margin-right: 5px;
}
.list_search_top .search_main input {
  width: auto;
  border: none;
}
.list_search_top .search_main .myplace {
  position: relative;
}
.list_search_top .search_main .myplace input {
  width: 114px;
  height: 34px;
  color: #484848;
  font-weight: 700;
}
.list_search_top .search_main .mydate input {
  width: 80px;
  height: 34px;
  color: #484848;
  font-weight: 700;
}
.list_search_top .search_main .mydate img {
  position: relative;
  left: 3px;
}
.list_search_top .search_main .mydate #myorderday {
  position: relative;
  top: 1px;
  left: -41px;
}
.list_search_top .search_main .mydate .index_list_calendar-box {
  position: absolute;
  width: 680px;
  height: 375px;
  z-index: 999;
  top: 65px;
  left: 240px;
  background: #FFFFFF;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04), 0 0 6px 0 rgba(0, 0, 0, 0.08);
  padding: 30px 50px 10px 50px;
  box-sizing: border-box;
  border-radius: 12px;
  color: #484848;
  font-size: 0;
}
.list_search_top .search_main .mypeople input {
  width: 63px;
  height: 34px;
  color: #484848;
  font-weight: 700;
}
.list_search_top .search_main .mypeople #ruzhunum {
  line-height: normal;
  position: absolute;
  display: none;
  top: 65px;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(17, 70, 109, 0.01), 0 0 12px 0 rgba(0, 0, 0, 0.04);
  padding: 0;
  height: 345px;
  z-index: 10000;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 12px;
}
.list_search_top .search_main .mypeople #ruzhunum li {
  padding: 10px 50px;
  width: 200px;
  cursor: pointer;
}
.list_search_top .search_main .mypeople #ruzhunum li:hover {
  background: #F4F4F4;
}
.list_search_top .search_main .mykey input {
  width: 168px;
  height: 34px;
  color: #484848;
  font-weight: 700;
}
.list_search_top .search_main .mysearch {
  text-align: center;
  background: #21C48E;
  border-radius: 100px;
  height: 36px;
  line-height: 36px;
  width: 116px;
  margin-right: 32px;
  font-size: 14px;
  padding: 0;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.cont1 {
  width: 100%;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.cont1 .path_link {
  width: 94.44%;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cont1 .path_link * {
  display: inline;
}
.cont1 .cont1_content {
  width: 94.44%;
  margin: 0px auto;
  display: block;
  background: #F8F8F8;
  border-radius: 6px;
  padding: 26px 26px 0;
  box-sizing: border-box;
  min-width: 1100px;
  position: relative;
}
.cont1 .cont1_content ul {
  display: block;
  width: 525px;
  height: 45px;
}
.cont1 .cont1_content li {
  width: auto;
  /*float: left;*/
  display: inline-block;
  margin-right: 18px;
  padding: 0 6px;
  cursor: pointer;
}
.cont1 .cont1_content li:not(.on_all):hover {
  background: white;
  border: 1px solid #F2F2F2;
}
.cont1 .cont1_content li:hover > div {
  display: block;
}
.cont1 .cont1_content span {
  font-size: 12px;
  line-height: 24px;
}
.cont1 .cont1_content li i {
  background: url(../img/select/position_icon.png);
  background-position: 1px 0;
  width: 10px;
  height: 5px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.cont1 .cont1_content .jiage {
  position: absolute;
  right: 0px;
  top: 58px;
  line-height: 20px;
}
.cont1 .cont1_content .jiage1 {
  position: relative;
  top: 12px;
}
.cont1 .cont1_content .jiage #slideTest9 {
  position: relative;
  top: 10px;
  left: 20px;
}
.cont1 .cont1_content .jiage #test-slider-tips2 {
  position: relative;
  top: -2px;
  left: 130px;
  color: #BDBDBD;
}
.cont1 .cont1_content .jiage #btnFind {
  position: absolute;
  right: 310px;
  top: 1px;
  border: none;
  background: none;
  padding: 0 5px;
  color: #BDBDBD;
  cursor: pointer;
}
.cont1 .cont1_content .lt-icon {
  line-height: 24px;
  font-weight: bold;
}
.cont1 .cont1_content .on_all {
  background: #21C58E;
  color: #fff;
  border-radius: 2px;
  line-height: 24px;
  box-sizing: border-box;
  padding-top: 1px;
  cursor: pointer;
}
.result-business {
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  padding: 16px 30px 10px;
  display: block;
  position: absolute;
  z-index: 9999;
  width: 45%;
  box-sizing: border-box;
  left: 100px;
  top: 115px;
  border-radius: 6px;
  overflow: hidden;
  display: none;
}
.result-business .lever_open a {
  line-height: 24px;
  display: inline-block;
  margin-right: 16px;
  font-size: 12px;
  width: 8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cont1 .cont1_content input[type='checkbox'] {
  border: none;
  position: relative;
  top: 2px;
  cursor: pointer;
}
.cont2_right_content {
  width: 260px;
  height: 1083px;
  position: absolute;
  right: 40px;
}
.cont2_right_content .ditu_link {
  height: 206px;
  width: 100%;
}
.cont2_right_content .ditu_link span {
  display: block;
  background: #21C58E;
  line-height: 50px;
  width: 260px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 160px;
  text-align: center;
  border-radius: 0 0 12px 12px;
}
.cont2_right_content .safeplan {
  margin-top: 10px;
  background: #F8F8F8;
  border-radius: 6px;
  overflow: hidden;
}
.cont2_right_content .safeplan li {
  padding: 0 8px;
}
.safeplan li a {
  display: block;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}
.safeplan li a i.zsfy {
  background-position: 2px 3px;
}
.safeplan li a i {
  position: absolute;
  left: 28px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background: url(../img/select/safeplan_icon.png) no-repeat;
}
.safeplan li a span.span1 {
  font-size: 16px;
  color: #484848;
}
.safeplan li a span {
  display: block;
  padding-left: 82px;
}
.my_right {
  background: #F8F8F8;
  border-radius: 6px;
  margin-top: 10px;
}
.my_right .right_nav {
  border-bottom: 1px solid #EBEBEB;
  text-align: center;
  width: 100%;
  height: 52px;
}
.my_right .right_nav li {
  display: inline-block;
  font-weight: bold;
  padding: 14px 6px;
  font-size: 17px;
  color: #484848;
  position: relative;
  cursor: pointer;
}
.my_right .right_nav .right_nav_active {
  color: #21C58E;
}
.my_right .right_nav .right_nav_active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #21C58E;
  content: "";
}
.right_nav_footmark .oneroominfo {
  width: 100%;
  height: 170px;
  position: relative;
}
.right_nav_footmark .oneroominfo .lazy {
  width: 100%;
  border-radius: 12px;
}
.right_nav_footmark .oneroominfo .room-info {
  width: 100%;
  position: relative;
}
.right_nav_footmark .c_gray_dark {
  z-index: 888;
  padding: 0 15px;
  display: inline-block;
  width: 70px;
  height: 49px;
  line-height: 50px;
  position: absolute;
  left: 0px;
  top: 141px;
  border-radius: 0 50px 0 12px;
  background: rgba(50, 44, 39, 0.9);
  font-size: 20px!important;
  color: white;
}
.right_nav_footmark .c_orange {
  font-size: 12px!important;
}
.link_page {
  position: relative;
  top: 40px;
  height: 46px;
  border-top: 1px solid #EBEBEB;
  text-align: center;
  line-height: 46px;
  padding-left: 20px;
  padding-right: 20px;
  color: #484848;
}
.link_page i.prev_link {
  background-position: 0 -73px;
  float: left;
}
.link_page i.next_link {
  background-position: 0 1px;
  float: right;
}
.cont2 {
  width: 100%;
  border-top: 1px solid #EBEBEB;
}
.cont2 .cont2_content {
  width: 94.44%;
  margin: 0px auto;
}
.cont2_content .cont2_left_content {
  width: 87%;
  float: left;
}
.cont2_content #sortDiv {
  padding-top: 20px;
  padding-right: 280px;
  box-sizing: border-box;
}
.cont2_content .rt-on {
  color: #21C58E;
}
.cont2_content #sortDiv i {
  background: url(../img/select/mark.png);
  width: 17px;
  height: 12px;
  display: inline-block;
}
.cont2_content #sortDiv .pr-arrows {
  background-position: 10px -121px;
  position: relative;
  left: -8px;
}
.cont2_content #sortDiv .totalCount {
  float: right;
}
.cont2_content .downloadApp {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 20px;
}
.cont2_content .downloadApp img {
  width: 100%;
  vertical-align: middle;
}
.searchRoom {
  padding-top: 10px;
  margin-right: 0px;
  font-size: 0px;
}
.homestay .collect_love {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3000;
  background: url(../img/index/collect_icon.png) no-repeat center;
}
.homestay .collect_check_love {
  background: url(../img/index/collect_select_icon.png) no-repeat center;
}
.homestay .homestay-fl,
.homestay .homestay-fr {
  height: 100%;
  display: inline-block;
  float: left;
}
.homestay .homestay-fl .oneroominfo {
  float: left;
  display: inline-block;
  width: 328px;
  height: 350px;
  margin-right: 5px;
  position: relative;
     cursor: pointer;
}
.homestay-fl .oneroominfo .surprice {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 62px;
  height: 28px;
}
.homestay-fl .homestay-relave {
  margin-right: 10px!important;
}
.homestay-fl .homestay-relave img {
  width: 100%;
}
.homestay a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 12px;
}
.homestay-fl-left {
  margin-top: 20px;
  margin-right: 15px;
}
.oneroominfo .room-info {
  text-decoration: none;
  position: absolute;
  width: 320px;
  height: 52px;
  color: #484848;
  font-size: 20px;
  margin-top: 17px;
}
.oneroominfo .room-info .hidden-txt {
  width: 282px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}
.oneroominfo .room-info .c_orange_p {
  color: #FA8100;
}
.oneroominfo .room-info .c_orange {
  line-height: 22px;
  margin-top: 5px;
  font-size: 14px;
}
.oneroominfo .room-info .mr10 {
  margin-right: 10px;
}
.oneroominfo .room-info .headimg {
    width: 45px;
    height: 45px;
    float: right;
    position: absolute;
    right: 15px;
    top: -40px;
    border-radius: 50px;
}
.oneroominfo .room-info .room_intro_p {
  font-size: 12px;
  color: #484848;
}
.oneroominfo .room-info .room_intro_p span {
  padding: 0 6px;
}
.homestay .c_gray_dark {
  z-index: 888;
  padding: 0 15px;
  display: inline-block;
  width: 70px;
  height: 49px;
  line-height: 50px;
  position: absolute;
  left: -1px;
  top: 165px;
  border-radius: 0 50px 0 12px;
  background: rgba(50, 44, 39, 0.9);
  font-size: 20px!important;
  color: white;
}
.homestay-fl .f1one .fw600,
.homestay-fr-bottom .fw600 {
  top: 212px;
}
.homestay-fr {
  margin-left: 15px;
}
.homestay-fr-bottom {
  margin-top: 20px;
}
.homestay-fr-right {
  margin-left: 15px;
}
.homestayfly {
  height: 520px;
}
.homestayfly-right {
  margin-top: 15px;
}
.homestayfly .homestay {
  height: 400px;
}
.foot {
  width: 100%;
  height: 705px;
  padding-top: 10px;
  background-color: #322c27;
  color: #fff;
}
.foot-center {
  width: 1050px;
  height: 695px;
  margin-left: auto;
  margin-right: auto;
}
.foot-center-head {
  width: 100%;
  height: 275px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.foot-center-head ul li {
  float: left;
  box-sizing: border-box;
  line-height: 24px;
}
.foot-center-head ul li h3 {
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 16px;
}
.foot-center-head ul li a {
  color: white;
}
.foot-center-head ul li + li {
  padding-left: 120px;
}
.foot-center-head ul li p a.app {
  border: 1px solid #fff;
  width: 104px;
  display: block;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  text-align: center;
}
.foot-center-head ul li .cursorpt-web {
  position: relative;
  top: -46px;
  left: 60px;
}
.foot-center-center {
  width: 100%;
  height: 182px;
}
.foot-center-center .city_classify {
  margin-top: 10px;
  margin-bottom: 20px;
}
.foot-center-center .city_classify,
.foot-center-center .clearfloat {
  overflow: hidden;
  width: 100%;
}
.foot-center-center .city_classify li {
  font-size: 12px;
  color: #C1C1C1;
  float: left;
  width: 90px;
  height: 36px;
  background: #3E3731;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10px;
}
.foot-center-center .clearfloat li {
  float: left;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-right: 10px;
}
.foot-center-center .clearfloat li a {
  font-size: 12px;
  color: #C1C1C1;
}
.foot-center-center .carousel_box {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: -40px;
  font-size: 12px;
  color: #C1C1C1;
}
.foot-center .winbox {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.foot-center .mt40 {
  position: relative;
  top: 50px;
  margin-top: 40px;
  text-align: center;
}
.foot-center .mt40 p,
.foot-center .mt40 p a {
  font-size: 12px;
  color: #777776;
}
.foot-center-head .mb10 {
  margin-bottom: 10px;
}
.foot-center-head .mb15 {
  margin-bottom: 15px;
}
.foot-center-head .f14 {
  font-size: 14px;
}
.foot-center-head .f18 {
  font-size: 18px;
}
.foot-center-head .f16 {
  font-size: 16px;
}
.foot-center-head .f12 {
  font-size: 12px;
}
.foot-center-head .mt5 {
  margin-top: 5px;
}
.foot-center-head .mt10 {
  margin-top: 10px;
}
.foot-center-head .mt25 {
  margin-top: 25px;
}
.foot-center-head .mt20 {
  margin-top: 20px;
}
#demo1 {
    clear: left;
    margin: auto;
    display: table;
}
.IM_btn {
  position: fixed;
  right: 90px;
  bottom: 10px;
  z-index: 100001;
  display: block;
  box-sizing: border-box;
  width: 74px;
  height: 58px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fafafa;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  line-height: 86px;
}
.IM_btn_span {
  position: absolute;
  top: 11px;
  left: 25px;
  width: 25px;
  height: 20px;
  background: url(../img/select/shan.png) no-repeat;
  background-position: 0 0;
}
.Online_btn {
  position: fixed;
  right: 12px;
  bottom: 10px;
  display: block;
  line-height: 86px;
  color: #fafafa;
  height: 58px;
  width: 78px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 100000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 7px 0;
}
.border-left {
  position: relative;
  left: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  float: left;
}
#live800iconlink {
  position: fixed;
  margin-top: -27px;
  height: 56px;
}
#live800icon {
  margin-left: 4px;
  margin-top: 9px;
}
.index_list_calendar-box {
  display: none;
}
.t-left-place-xiala {
  background: white;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 999;
  width: 590px;
  border-radius: 12px;
  box-shadow: 0 0 4px 0 rgba(17, 70, 109, 0.01), 0 0 12px 0 rgba(0, 0, 0, 0.04);
  display: none;
}
.t-left-place-xiala .city_tab {
  background: #f8f8f8;
  border-radius: 12px 12px 0 0;
}
.t-left-place-xiala .city_tab li {
  width: 100%;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 0;
  text-align: center;
  color: #484848;
  font-size: 16px;
  cursor: pointer;
}
.t-left-place-xiala #cityselecttitleul {
  padding: 15px 50px 0;
}
.t-left-place-xiala #cityselecttitleul li {
  float: left;
  line-height: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  font-weight: 700;
}
.t-left-place-xiala #cityselecttitleul li.active {
  color: #21C58E;
  border-bottom: 2px solid #21C58E;
}
.t-left-place-xiala #cityselectul {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0 0 50px;
  margin-top: -1px;
  max-height: 350px;
  width: 540px;
}
.t-left-place-xiala #cityselectul li {
  float: left;
  width: 84px;
  height: 19.2px;
  padding: 3px;
  position: relative;
  top: 12px;
  cursor: pointer;
}
.t-left-place-xiala #cityselectul li a {
  color: #484848;
  position: relative;
  top: -22px;
}
.letters{
    float: left;
    clear: left;
    position: relative;
    left: -30px;
    font-size: 15px;
    margin-right: -10px !important;
    color: #21C58E !important;
     margin-top: -8px;
}
#House span{
	
      width: 80px;
    display: inline-block;
}

#House span a{
      width: 48px;
     margin: 0;
}
.place_pitch{
	color: #21C58E  !important;
}
.room_price_choice{
	margin-left: 10px;
}
.sortType{
	cursor: pointer;
}
.Tsort{
	color: #21C58E  !important;
}
.on_all_s{
	color: #000000 !important;
	background: none !important;
}
